{% extends 'base.html.twig' %}

{% block body %}

{% for animal in animals %}

<p>Name: {{animal.username}}</p>
<pre>Family:{{animal.family}} Age: {{animal.age}} Breed: {{animal.breed}} Food:{{animal.food}} cropNumber: {{animal.cropNumber}} Gender: {{animal.gender}} <a href="removeAnimal/{{animal.id}}" class="btn btn-danger">Delete</a>
</pre>

{% endfor %}

<p><a href="/logout">Logout</a> <a href="animal/add" class="btn btn-default">Add</a> </p>
    
{% endblock %}

{% block stylesheets %}


{% endblock %}